<!DOCTYPE html>
<html>
<head>
  <title>Luca Danieli Website - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<div id="background_canvas">
  <canvas id="canvas">  
  <script>
    draw(2000, <%= yield(:initial_draw_cycles) %>);
  </script>
</div>

<%= image_tag("profile_image.jpg", :alt => "rss feed", id: "profile_image") %>

<script>
  image_mouse_actions();
</script>

<div id="central_menu">
</div>

<%= yield %>

<%= render 'layouts/header' %>
<%= render 'layouts/footer' %>




</body>
</html>
